*{
    font-family: sans-serif;
}

h1{
    /* color: rgb(255, 10, 130);
    text-decoration: overline;
    text-decoration-style: dashed;
    text-decoration-color: green; */

    text-decoration: blue underline overline wavy 8px ;
    text-transform: capitalize;
    text-transform: uppercase;
    text-align: center;

    word-spacing: 25px;

    letter-spacing: 5px;
}
p{
    text-indent: 20px;
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 30px;
}
li{
    background-color: yellow;
}
.tatli{
    list-style-position:inside ;
    list-style-type: 💛;

    list-style-image: url(../arrow-right-long-solid.svg);
    list-style-type: square;
}
h3{
    /*? text-align: end; */
    direction:rtl
}