p{
    height: 10vh;

}
.header1{
    background-image:linear-gradient(yellow,green) ;
}
.header2{
    background-image: linear-gradient(rgb(240,219,27),rgb(44,211,6),hsl(255,40%,40%);
}
.header3{
    background-image: linear-gradient(
        to right,
        rgb(240,219,29),
        rgb(44,211,6)
        hsl(255,40%,40%)
    );

}
.header4
